# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.bak
*.tmp
*.log

# Django
*.db
*.sqlite3
db.sqlite3
/media
/staticfiles
/static

# Environment Variables
.env
.venv
venv/
ENV/
env.bak/
env/

# Django Migrations
**/migrations/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# Dependency directories
jspm_packages/

# IDEs and Text Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
*.DS_Store

# Linux
*~

# Log files
logs/
*.log

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
/coverage
/.nuxt
/.next

# Build directories
out/
